<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- Imageresizing.net see http://imageresizing.net/docs/install/aspnet -->
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
  </configSections>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
                  you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx" />
    <plugins>
      <add name="MvcRoutingShim" />
      <!-- <add name="DiskCache" /> -->
      <!-- <add name="PrettyGifs" /> -->
    </plugins>
  </resizer>
  <system.web>
    <customErrors 
                  defaultRedirect="~/Error.aspx" />
    <!--Imageresizer-->
    <httpModules>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="AjaxControlToolkit, Version=4.5.7.1213, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="AjaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
<!-- Add your own connection string here -->
  <connectionStrings>
    <!--<add name="DatabaseModel" providerName="System.Data.SqlClient" connectionString="Server=tcp:hby2tmouwu.database.windows.net,1433;Database=templatesite_v2;User ID=TemplateAdmin@hby2tmouwu;Password=M1xxuwax;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <add name="DatabaseModel" providerName="System.Data.SqlClient" connectionString="server=.\MSSQL; database=template;User Id=DustCore; Password=m1xxuwax;" />

  </connectionStrings>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- This is for IIS7+ Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
</configuration>